/* Articles-block  */

.articles-block {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

.articles-block__head {
    color: var(--color-grey-dark);
    width: 226px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {

    .articles-block {
        max-width: 894px;
        margin-top: 80px;
    }
}

@media (min-width: 1400px) {

    .articles-block {
        max-width: 1264px;
        margin-top: 88px;
    }
}

/* Categories cards */

.categories-cards {
    display: grid;
    row-gap: 24px;
    margin: 48px auto 514px;
}

.category-card {
    display: flex;
    flex-direction: column;
}

.categories-cards .category-card:nth-child(3) {
    display: none;
}

.category-card__img {
    width: 327px;
    height: 311px;
    background-position: center;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.category-card-info {
    padding: 32px;
    text-align: left;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.categories-cards .category-card:nth-child(odd) .category-card-info {
    background-color: #EAEAEA;
    color: var(--color-black-text);
}

.categories-cards .category-card:nth-child(even) .category-card-info {
    color: var(--color-white);
    background-color: var(--color-black-background);
}

.category-card-info__subtitle {
    color: var(--color-grey-light);
    margin-top: 4px;
}

@media (min-width: 768px) {

    .categories-cards {
        grid-template-columns: 1fr 1fr;
        gap: 32px;
    }
}

@media (min-width: 992px) {

    .categories-cards {
       row-gap: 48px;
       column-gap: 32px;
       margin-bottom: 80px;
    }

    .category-card__img {
        width: 431px;
        height: 487px;
    }
}

@media (min-width: 1400px) {

    .categories-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 88px;
    }

    .category-card__img {
        width: 616px;
        height: 487px;
    }
    
    .categories-cards .category-card:nth-child(3) {
        display: block;
    }

    .categories-cards .category-card:nth-child(n + 3) .category-card__img {
        width: 400px;
        height: 480px;
    }
}